// Body
$body-bg: #F2F3F8;
$sidebar-bg: #2A2A60;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$font-color: #838383;
$heading-font-color:#393939;

// Colors
$blue: #0097D6;
$indigo: #6574cd;
$purple: #0097D6;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
