@import 'variables';
@import 'mixins';
body,html {
    height: 100%;
}
.admin{
  aside {
    .logged-user{
        color: $font-color;
    }
    a{
        color: #FFFFFF;
    }
    i{
        color: $blue;
    }
    color: #FFFFFF;
    float: left;
    width: 20%;
    height: 300px; 
    background: $sidebar-bg;
    padding: 20px;
    height: 100%;
  }

  main {
    float: left;
    padding: 20px;
    width: 80%;
    background-color: #f1f1f1;
    height: 300px; 
  }
}

header{
    a{
        color: #FFFFFF;
    }
    color: #FFFFFF;
  .nav-header{
    height: 100px;
  }
}

#app{
    height: 100%;
    section{
        height: 100%;
    }
  
}

.logo{
  width: 100%;
  height: 100px;
}