/* Media query */

body,
html {
  height: 100%;
}

.admin aside {
  color: #FFFFFF;
  float: left;
  width: 20%;
  height: 300px;
  background: #2A2A60;
  padding: 20px;
  height: 100%;
}

.admin aside .logged-user {
  color: #838383;
}

.admin aside a {
  color: #FFFFFF;
}

.admin aside i {
  color: #0097D6;
}

.admin main {
  float: left;
  padding: 20px;
  width: 80%;
  background-color: #f1f1f1;
  height: 300px;
}

header {
  color: #FFFFFF;
}

header a {
  color: #FFFFFF;
}

header .nav-header {
  height: 100px;
}

#app {
  height: 100%;
}

#app section {
  height: 100%;
}

.logo {
  width: 100%;
  height: 100px;
}

